{% extends 'base.html.twig' %}

{% block title %}Category #{{ category.name }}
{% endblock %}

{% block body %}
	<div class="media">
		<div class="media-body">
			<h1 class="mt-0">{{ category.name }}</h1>
			<p>Les programmes</p>
			<ul>
				{% for program in programs %}
					<li>{{ program.title }}</li>
					<li>{{program.id}}</li>
					<li>

						{{program.synopsis}}
					</li>
				{% else %}
					<li>Aucune série</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<a href="{{ path ('category_index') }}">
		Retour à la liste des categories
	</a>
{% endblock %}
