{% extends "base.html.twig" %}

{% block body %}


	<h1>{{program.title}}</h1>
	<h2>{{ season.description }}</h2>
	<p>Année de sortie -
		{{season.year}}</p>

	{% for episode in episodes %}
		<h1>Titre -
			{{episode.title}}</h1>

		<p>episode -
			{{episode.number}}</p>

		<a href="{{ path ("program_episode_show",{programId: program.id, seasonId: season.id, episodeId: episode.id})}}">Voir l'episode
		</a>
		<a class="btn btn-outline-dark" href="{{ path('category_new_episode') }}">Ajouter episode</a>


	{% endfor %}
{% endblock %}
